body {
    background-color: rgb(15, 15, 15);
    color: rgb(240, 240, 240);
    font-size: 12pt;
    font-family: "Geist", sans-serif;
    margin: 0;
    display: flex;
}


.toc {
    flex: 1;
    background-color: rgb(30, 30, 30);
}

.toccontainer {
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: auto;
    scrollbar-color: rgb(160, 160, 160) rgb(30, 30, 30);
}

.toggler {
    width: 8px;
    color: rgb(50, 50, 50);
    background-color: rgb(50, 50, 50);
}

.toggler:hover {
    background-color: rgb(80, 80, 80);
}

.main {
    flex: 4;
    margin-top: 2em;
    scrollbar-color: rgb(160, 160, 160) rgb(30, 30, 30);
}

a {
    text-decoration: none;
    color: rgb(210, 210, 210);
}

a:hover {
    color: rgb(214, 0, 28);
}

.content {
    max-width: 40em;
    min-width: 20em;
    margin: auto;
}


p {
    padding: 0px 8px;
}



pre div button {
    display: block;
    background-color: rgb(70, 70, 70);
    border: none;
    font-size: 1em;
    color: rgb(210, 210, 210);
}

pre div button:hover {
    background-color: rgb(214, 0, 28);
    color: white;
}

pre div button:active {
    /* border: 1px solid rgb(75, 210, 210); */
    background-color: white;
    color: black;
}

pre div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(110, 110, 110);
}

pre p {
    /* font-size: 0.6em; */
    margin: 0px;
    color: rgb(140, 140, 140);
}

pre {
    /* border-radius: 4px; */
    border: 1px solid rgb(120, 120, 120);
    margin-left: 8px;
}

pre code.hljs {
    padding: 0.4em;
    font-size: 12pt;
    font-family: "Geist Mono", monospace;
    scrollbar-color: rgb(160, 160, 160) rgb(30, 30, 30);
    background-color: rgb(15,15,15);
}

.page {
    font-size: 1.6em;
    font-family: "Geist Mono", monospace;
    padding: 2px 8px;
    margin-top: 3em;
}

.page:hover {
    color: rgb(214, 0, 28);
}

h2,
h3 {
    font-size: 1em;
    font-weight: normal;
    padding: 2px 8px;
    margin-top: 3em;
}

h2 {
    background-color: rgb(50, 50, 50);
}

h3 {
    border-bottom: 1px solid rgb(120, 120, 120);
}

.toc a,
.toc details summary {
    padding: 2px 6px;
    font-family: "Geist", sans-serif;
    font-size: 20px;
    color: rgb(210, 210, 210);
    border-bottom: 2px solid rgb(60, 60, 60);
}
.toc details a {
    padding-left: 20px;
}

.toc a {
    display: block;
}

.toc a:hover,
.toc details summary:hover {
    color: rgb(240, 240, 240);
    background-color: rgb(214, 0, 24);
    border-bottom: 2px solid rgb(214, 0, 28);
}

.toc a:active,
.toc details summary:active {
    /* border: 2px dotted rgb(200, 200, 200); */
    background-color: white;
    color: black;
}

.pkgname {
    background-color: rgb(84, 84, 84);
    padding: 10px 8px;
}

td,
th {
    margin: 0px;
    padding: 8px;
    border: 1px solid rgb(120, 120, 120);
}

table {
    margin: auto;
    border: 1px solid rgb(120, 120, 120);
    border-collapse: collapse;
    /* background-color: rgb(30,30,30); */
}
